# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Models & data
data/
*.db

# Jupyter
.ipynb_checkpoints/

app/supabase_schema.sql
